body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.fetured-area{
    height: 60vh;
    width: 100%;
    background-image: url(images/donate-fetured.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* for reduse top margingap */
    display: flex;
}
.fetured-text{
    color: white;
    margin: 6% 25%;

}
.btn-design{
    margin-top: 2%;
    padding: 18px 40px;
    border:none;
    border-radius: 15px;
    background-color: #FF5959;
    color: white;
    font-size: 22px;
    font-weight: bold;

}
.center-align{
    text-align: center;
    margin: 10% 15%;
}
.donate-amount{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
.donate-box{
    border-radius: 10px;
    padding: 4% 5%;
    background-color: #e2e2e2;
}
#donate-box{
    border: 2px solid #FF5959;
    border-radius: 10px;
    padding: 4% 5%;
    background-color: #FFEEEE;
    color: #FF5959;
}
input{
    padding: 15px 150px;
    text-align: center;
    border: 2px solid #FF5959;
    border-radius: 15px;
    margin: 15px 0;
}
.donate-plan-boxs-area{
    display: flex;
    margin: 5% 2%;
    justify-content: space-evenly;
    
}
.plan-box{
    border-radius: 8px;
    width: 20%;
    padding: 2%;
}
.plan-box img{
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
} 
#food-box{
    background-color: #7bb8bec5;
}
#shelter-box{
    background-color: #FFEEEE;
}
#helth-box{
    background-color: #FFF4D6;
}